@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:wght@300;400;500;700;900&display=swap');
// media system

$desktopWideScreen: 1170px;
$desktopScreen: 1024px;
$tabletScreen: 992px;
$tabletwideScreen: 768px;
$phoneWideScreen: 676px;
$phoneScreen: 470px;
$phoneSmScreen: 320px;


// Color system

$gray-100: #DFDFDF !default;

$black: #0A1213 !default;
$white: #DFDFDF !default;
$brown: #131311 !default;
$brown-100: #D5D5B9 !default;
$red-300: #F42300 !default;
$red-500: #dc3545 !default;
$blue-800: #33475B !default;

$blue-dark: #222233 !default;
$blue-light: #0070C0 !default;
$blue-200: rgba($blue-dark, 0.04) !default;
$green: #009688 !default;

$gold: #8B6B3B !default;
$gold-light: #F2EFEA !default;

// yellow

$yellow: #EABF24;


// Gradient colors Variables

$bg-gradient-color: -webkit-linear-gradient(90deg, hsla(34, 13%, 11%, 1) 22%, hsla(6, 100%, 28%, .9) 100%);
$bg-gradient-color-gray: -webkit-linear-gradient(90deg, hsla(34, 13%, 11%, 1) 0%, hsla(182, 79%, 19%, 1) 100%);


// Background colors Variables

$bg-gray-light: #F9FBFD;
$bg-blue-light: $blue-light;


// text colors Variables 

$text-white-heading: $brown-100;
$text-white-content: rgba($brown-100, .8);


$text-dark-heading: $black;
$text-dark-content: rgba($black, .8);

$text-gold-heading: $gold;
$text-gold-content: rgba($gold, .8);


// text gradient colors 
$text-gradient-red: -webkit-linear-gradient(-70deg, $red-500 0%, $red-300 100%);


// Typography Variables
$open-sans-font: 'Open Sans',
sans-serif;
$roboto-font: 'Roboto',
sans-serif;
$anton-font: 'Anton',
sans-serif;


// Heading sizes - desktop
$h00-size: 3.125rem;
$h0-size: 2.25rem;
$h1-size: 1.875rem;
$h2-size: 1.5rem;
$h3-size: 1.25rem;
$h4-size: 1rem;
$h5-size: 0.875rem;
$h6-size: 0.75rem;


// Heading sizes - mobile

$h00-size-mobile: 2.5rem; // 40px
$h0-size-mobile: 2rem; // 32px
$h1-size-mobile: 1.5rem; // 24px
$h2-size-mobile: 1.375rem; // 22px
$h3-size-mobile: 1.125rem; //18px


// Font weight variables

$font-weight-bold: 600 !default;
$font-weight-light: 400 !default;

// Line heights
$lh-condensed-ultra: 1 !default;
$lh-condensed: 1.25 !default;
$lh-default: 1.5 !default;


// p 

$f1 : 24px !important;
$f2 : 20px !important;
$f3 : 16px !important;
$f4 : 14px !important;
$f5 : 12px !important;

// Box shadow

$box-shadow: 0 1px 0 rgba($brown, 0.04) !default;
$box-shadow-medium: 0 3px 6px rgba($brown, 0.12) !default;
$box-shadow-large: 0 8px 22px rgba($brown, .5) !default;
$box-shadow-extra-large: 0 12px 38px rgba($brown, 0.4) !default;


// Border
$border-base: 1px solid rgba($text-white-heading, .8);
$border-base-light: 1px solid rgba($text-white-heading, .3);

// padding
$lg-block-padding: 80px 0;


// sidebar vars
$sidebar-width: 260px