/* 

   ============================= media responsive ============================= 

*/
/* media responsive for desktop screen */
@include desktopScreen {
  header {
    h1 {
      padding-top: 0;
    }
  }

  .homepage-header h1 {
    max-width: 650px;
  }
}

/* media responsive for tablet screen */
@include tabletScreen {
  .img-block {
    display: none;
  }
}

/* media responsive for tablet wide screen */
@include tabletwideScreen {
  .top-navbar {
    display: none;
  }

  .main-navbar {
    height: auto !important;
    padding: 20px !important;
  }

  .navbar-nav {

    // height: auto;
    .nav-item {
      width: 100%;
    }
  }

  //    .navbar-brand {
  //       padding-left: 20px;
  //    }
  header {
    .list-group-items {
      flex-wrap: wrap;
      width: 100%;

      .list-item {
        margin-right: 20px;
        margin-top: 15px;
      }
    }
  }

  .md-text {
    font-size: 18px;
  }

  .footer-links {
    .navbar-nav {
      margin-bottom: 15px;
    }

    .ml-auto {
      margin-left: 0 !important;
    }
  }

  footer {
    img {
      margin-bottom: 15px;
    }

    .d-flex {
      flex-direction: column;
    }
  }

  .max-text-lmt-medium,
  .max-text-lmt-small,
  .max-text-lmt-x-small {
    width: 100%;
  }
}


@include tabletScreen {
  .home-header {
    flex-direction: column;

    .card-overlay_base,
    .card-overlay_brown {
      position: relative !important;

      .card-overlay_backgrounds {
        &::before {
          content: none;
        }
      }
    }


    .main-navbar {
      height: 100% !important;
    }


    .carousel {
      height: 420px;
    }

    .upcoming-events {
      padding-top: 30px
    }
  }

  .event-card-wrap {
    &:first-of-type {
      margin-right: 0;

    }

    &:last-of-type {
      margin-left: 0;

    }
  }

  .gallery-block {
    background: transparent;

    .h1 {
      margin-top: 10px !important;
    }
  }

  .navbar-nav {
    // border-bottom: 1px solid rgba($color: #eee, $alpha: 1);
    margin-bottom: 15px;

    .nav-item {
      border: none !important;
    }
  }

  .footer-wrap {
    .navbar-nav {
      border-bottom: none !important
    }
  }

  .footer-content {
    flex-direction: column;
    justify-content: center !important;
    align-items: center;

    .social-networks-wrapper {
      margin-bottom: 16px;
    }

    h5 {
      text-align: center !important;
    }

  }
}

.justify-content-sm-start {
  justify-content: flex-end !important;
}

/* media responsive for phone wide screen */
@include phoneWideScreen {
  .home-header {
    .carousel {
      height: 250px;
    }
  }

  .justify-content-sm-start {
    justify-content: flex-start !important;
  }

  .text-sm-start {
    text-align: left !important;
  }

  .navbar-brand {
    width: 50px;
  }

  .main-navbar {
    padding: 10px 0 !important;
  }
}

/* media responsive for phone screen */
@include phoneScreen {
  .home-header {
    .carousel {
      height: auto;
    }
  }

  .small-btn {
    font-size: 11px;
  }
}

/* 

   ============================= End media responsive ============================= 

*/