// creat style over bootstrap css style 
/* ----------------------------------- Card Component ----------------------------------- */
.card {
  border: none;

}

.card-height-md {
  height: 340px;
}

.card-body {
  display: -webkit-flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.card-figure {

  height: 100%;
  // padding-bottom: 100%;

  img {
    object-fit: cover;
    height: auto;
  }

}

/* if there is an img in the card */
.card-img-top,
.default-image {
  min-height: 200px;
  max-height: 200px;
}

.card-img-top {}

.card-image {
  overflow: hidden;
  padding-bottom: 100%;
  position: relative;

  img {
    object-position: center;
    display: block;
    object-fit: cover;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    user-select: none;
    width: 100%;
  }
}

%card-overlay {
  // background: linear-gradient(0deg, rgba(0, 0, 0, .8) 0%, rgba(0, 0, 0, 0.6839110644257703) 43%, rgba(0, 0, 0, .9) 100%);
  // background: linear-gradient(15deg, #eabf2461, rgb(0 0 0 / 82%) 50%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}




%linear-base {
  background: linear-gradient(0deg, rgba(0, 0, 0, .9) 18%, rgba(0, 0, 0, .34) 70%);
}

%linear-brown {
  background: linear-gradient(0deg, rgba(12, 12, 12, 1) 0%, rgba(29, 29, 27, 1) 13%, rgba(0, 0, 0, .7) 64%);


}


.card-overlay_backgrounds {
  height: 100%;
  position: relative;
  overflow: hidden;

  .swiper-container {
    height: inherit;
  }

  &::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
  }
}

.card-overlay_brown,
.card-overlay_base,
.card-overlay {
  @extend %card-overlay;
}

.card-overlay_brown {
  .card-overlay_backgrounds {
    &::before {
      @extend %linear-brown
    }
  }
}

.card-overlay_base {
  .card-overlay_backgrounds {
    &::before {
      background: linear-gradient(181deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.683911) 43%, black 100%)
    }
  }
}

.card-overlay_base_with_hover {
  overflow: hidden;
  @extend %card-overlay;



  .thumbnail-overlay {




    &::after {
      position: absolute;
      content: '';
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      @extend %linear-base;
      z-index: 6;
    }


  }



  .thumbnail-link {
    transition: all 220ms ease-in-out;

    opacity: 0;
    z-index: 7;
  }
}


.event-card {
  transition: all 220ms ease-in-out;

  .card-image {

    transform-origin: center;
    transition: transform 220ms ease-in-out;
  }

  &:hover {



    .thumbnail-overlay .thumbnail-link {
      opacity: 1;
    }

    .card-image {
      transform: scale(1.1);
    }
  }
}

.card-overlay {
  .card-overlay_backgrounds {
    &::before {
      background-color: rgba(0, 0, 0, .3)
    }
  }
}

.card-content {
  background-color: transparent;
  position: relative;
  z-index: 2;
}




/* class for hover on the card */
.card-hover {
  transition: box-shadow 0.3s ease-in-out;

  &:hover {
    cursor: pointer;
    // background-color: rgba(#1b1f23, 0.8);
    // transform: translateY(-3px);
    box-shadow: $box-shadow-large;

    svg {
      fill: $gold !important;
    }

    .text-btn {
      color: $gold;
    }
  }
}

/* class for transition the card if there is a link */
.card-transition {
  transition: transform 420ms cubic-bezier(0.165, 0.84, 0.44, 1);
  cursor: pointer;

  &:hover {
    box-shadow: $box-shadow-medium;
    background-color: $white;
    color: $blue-dark;
    border-color: transparent !important;
    transform: scale(1.02) translateY(-3px);

    .h4,
    .label-title {
      color: $gold
    }

    svg {
      fill: $blue-dark;
    }
  }
}

/* arrow card */
.arrow-card {
  justify-content: space-between;
}


.card-img-top {
  border-top-right-radius: 8px !important;
  border-top-left-radius: 8px !important;
}

.card-img-left,
.card-img-right,
.card-content {
  transform-origin: center;
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  position: relative;
  z-index: 5;

}

.card-img-left,
.card-img-right {
  max-width: 500px;
  flex-shrink: 2;
  opacity: .3;
}


@include desktopWideScreen {

  .about-card {
    .card-content {
      max-width: 990px;
    }



    .card-img-left {
      margin-left: -21%;

      &:hover {
        transform: translateX(50%);
        opacity: 1;

        ~.card-img-right {
          transform: translateX(50%);
        }

        ~.card-content {
          transform: translateX(25%);
        }

      }
    }

    .card-img-right {
      margin-right: -21%;

      &:hover {
        opacity: 1;
      }
    }

  }

}


@include desktopScreen {

  .card-img-left,
  .card-img-right {
    display: none
  }
}

@include tabletScreen {

  .upcoming-events {
    padding-top: 120px;
  }
}



/* card icon class */
.card-icon {
  margin-bottom: 22px;
}



.crlc-icon {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center
}

/* x small icon class */
.sx-icon {

  svg,
  img {
    width: 18px;
    height: 18px;
  }
}

/* m small icon class */
.sm-icon {
  svg {
    width: 40px;
    height: 40px;
  }
}

/* medium icon class */
.md-icon {
  svg {
    width: 45px;
    height: 45px;
  }
}

/* large icon class */
.lg-icon {
  svg {
    width: 55px;
    height: 55px;
  }
}

/* card footer */
.card-footer {
  border-top: none;
  padding: 0.75rem 1rem;

  .btn {
    font-size: 12px;
  }
}

/* ----------------------------------- end Card Component ----------------------------------- */


.seat-map_wrap {
  width: 100%;
  height: 400px;
  background-color: #eee;
}